<ion-view view-title="Activity">
<ion-content>
<!--
    <section ng-controller="dbActivities">
        <ul ng-controller="PanelCtrlActivity as panel">
            <li ng-class="{ active: panel.isSelected(1)}" ng-show="panel.isSelected(1)">
                <ul>
                    <li ng-repeat="activity in activities">
                        <div class="list">
                            <a  class="item item-thumbnail-left" 
                                href="" 
                                data-ng-bind="activity.a_title,activity.a_image" 
                                ng-click="panel.selectTab(2, activity)">
                                <img src="{{activity.a_image}}"/>
                                <h2>{{activity.a_title}}</h2>
                            </a>
                        </div>
                    </li>
                </ul>
            </li>
            <li ng-class="{ active: panel.isSelected(2)}" ng-show="panel.isSelected(2)">
                <a href="" ng-click="panel.selectTab(1)">Back to all Events</a>
                <div class="list card">
                    <div class="item item">
                        <h2>{{panel.activity.a_title}}</h2>
                    </div>
                    <div class="item item-body">
                        <img class="full-image" src="{{panel.activity.a_image}}">
                        <p>{{panel.activity.a_description}}</p>                
                        <p>{{panel.activity.a_day}}</p>
                        <p>
                            <a href="#" class="subdued">1 Like</a>
                            <a href="#" class="subdued">5 Comments</a>
                        </p>
                    </div>
                </div>
            </li>
        </ul>
    </section>
-->
</ion-content>
</ion-view>